<h1><b>Knowledge Feeder</b></h1>
<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span>HOME</span> -->
    <span><a href="/">HOME</a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/register">Register</a>
  </mat-toolbar-row>
</mat-toolbar>
<header>
<p>Welcome to our website. Register and subscribe to our feeds based on your interests</p>
<p>The documents are curated from IEEE and other research papers to enhance your knowledge. We will send
the links on weekly basis. If you would like to change your interests or details, use the same email address and update your interests.</p>
</header>
<router-outlet></router-outlet>

